ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}
#mainList {
	padding-top: 50px;
	width: 200px;
}
#mainList > li {
	background: orange;
	border: 1px outset green;
	padding: 5px;
	border-radius: 5px;
	position: relative;
}
.downList {
	position: absolute;
	top: 0;
	left: 200px;
	width: 150px;
	display: none;
}
.downList li {
	background: darkred;
	border: 1px outset darkred;
	border-radius: 5px;
	padding: 2px;
}
#mainList li:hover {
	background: gray;
	color: white;
	cursor: pointer;
}
#mainList li:hover ul {
	display: block;
}
